.container-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #1f2937;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px;
    max-width: 1150px;
    margin: 0 auto;
}