.sidebar {
  width: 15rem;
  background-color: #1a1f36;
  color: #c2c6cc;
  padding: 2rem 0;
  height: 100vh;
  left: 0;
  top: 0;
  position: relative;
}

.sidebar-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 2rem 2rem;
  border-bottom: 1px solid #2d3748;
  margin-bottom: 2rem;
}

.sidebar-nav {
  list-style: none;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  border-radius: .6rem;
  margin-bottom: .5rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s;
  color: white;
}

.nav-item:hover {
  background-color: #2d3748;
  text-decoration: none;
}

.nav-item.active {
  background-color: #3a4259;
  color: white;
  text-decoration: none;
}
/* 
.sidebar-footer {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: #8a94a6;
} */

.footer-item {
  margin-bottom: 1.2rem;
  line-height: 1.4;
}